<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinovelibReader"
        android:usesCleartextTraffic="true">

        <!-- 主頁面 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 小說詳情頁 -->
        <activity
            android:name=".activity.NovelDetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.MainActivity" />

        <!-- 章節列表頁 -->
        <activity
            android:name=".activity.ChapterListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.NovelDetailActivity" />

        <!-- 閱讀器頁面 -->
        <activity
            android:name=".activity.ReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LinovelibReader.NoActionBar"
            android:parentActivityName=".activity.ChapterListActivity" />

        <!-- 搜索頁面 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.MainActivity" />

    </application>

</manifest>
